:root {
  --color-primary: #C45118;
  --color-secondary: #DADFE5;
  --color-secondary-dark: #BACBD9;
  --color-dark: #000;
  --color-accent: #DFDCD3;
  --color-text: #000;



  --font-primary: "Korolev-Condensed", sans-serif;
}

html {
  font-family: var(--font-primary);
}
