hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1.7em;
  margin-right: 3.2em;
  border-style: inset;
  border-width: 1px;
}

.footer {
  margin-right: 1.7em;
}

a {
  color: var(--color-primary);
}

.hr-2 {
  margin-left: 68.2em;
  margin-right: 0;
}
