hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 3.3em;
  margin-right: 3.2em;
  border-style: inset;
  border-width: 1px;
}

.nav {
color: var(--color-text);
}

.skip-links {
  display: none;
}

.logo-orange {
  display: none;
}

.logo:hover .logo-orange {
  display: block;
}

.logo:hover .logo-black {
  display: none;
}
